.top1{
	width: 15.975rem;
	position: fixed;
	z-index: 3;
}
.top{
  	width: 15.975rem;
 	height: 2.4rem;
	background-color: #39393D;
}
.top span{
	float: left;
	color: white;
	font-size: 1rem;
	margin: 0.5rem;
}
.top .span{
	color: #2C2D31;
	margin: 0.35rem;
	margin-left: 0rem;
}
.top p{
	float: left;
	color: white;
	margin: 0.4rem;
}
.top .t-r{
	float: right;
}
.search{
	width: 15.975rem;
 	height: 2.4rem;
	background-color: #39393D;
}
.search p{
	float: left;
	color: white;
	margin: 0.4rem;
	font-size: 0.75rem;
}
.search span{
	color: white;
}
.search input{
	color: white;
	background-color: white;
	width: 10rem;
 	height: 1.5rem;
 	border-radius: 1rem;
}
.null{
	height: 4.8rem;
	position: relative;
	z-index: 2.5;
}
.content{
     width: 15.975rem;
     height: 14.75rem;
     background-color: #F7F7F7;
}
 .content .c-l{
     float: left;
     color: #666666;
     width: 7rem;
}
 .content .c-r{
     float: right;
     color: #666666;
}
.content ul li{
	margin-top:1rem;
}
.content ul span{
	margin-left: 1rem;
	margin-right: 1rem;
}
.content ul img{
	width: 1rem;
	height: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.content .c-r span{
	margin: 0rem;
	margin-right: 0.5rem;
}
.footer{
 	height: 4.5rem;
	width: 15.975rem;
}
.footer ul{
	width: 10.5rem;
 	height: 2rem;
 	background-color: #F7F7F7;
 	border-radius: 1.25rem;
	margin-top: 1rem;
	float: right;
	margin-right: 1rem;
}
.footer ul li a{
	float: left;
	height: 2rem;
	width: 1.5rem;
	text-align: center;
	line-height: 2rem;
	display: inline-block;
	font-size: 0.75rem;
	color: #666666;
}
.footer ul li a:hover{
	background-color: #656565;
	color: white;
}
.footer li .a2 span{
	font-size: 0.8rem;
}
.footer li .a:hover{
	border-radius: 1.25rem 0 0 1.25rem;
}
.footer li .a2:hover{
	border-radius: 0 1.25rem 1.25rem 0;
}
